body {
background-color:lightblue}
h1 { color: red; text-align: right;}
h2{ color: blue ; }
h3{ color: green;}
nav.a.name { font: greenyellow; } 
img.Google {
     width: 150px;
     height: 150px;
     border: 5px purple dotted;
 }
nav li{
    display:inline
 }
 table{
     background-color:blueviolet;
     border: 1px solid black;
     border-collapse: collapse;
 }
 td {
    border: 1px solid red;
    padding: 10px;
}
 
